# --- DATA FOLDER ---
# We want the main folder and Dataset.csv
# But we EXCLUDE the heavy extra folder
data/extra/

# --- PROJECT JUNK (Exclude) ---
# These are temporary files that clutter your repo
__pycache__/
.ipynb_checkpoints/
.vscode/
.env
.DS_Store
Thumbs.db